<nav class="page__nav main-nav">
    <ul>
      <li class="nomarker">
        <h1 class="page__logo">
          <div class="page__logo-inner">
            <a href="https://nate.green" class="main-site-link">nate.green</a>
            <span class="blog-title"> - <a href="{{ .Site.BaseURL }}">lab notes</a></span>
          </div>
          <span class="page__subtitle">software engineer, researcher, musician, theater maker</span>
        </h1>
      </li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="main-nav__item"><a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
</nav>